* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Helvetica", sans-serif;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .timer {
  font-size: 8em;
  text-align: center;
  width: 50%;
  padding: 15px;
  color: #f3f3f3;
  background: #171717;
  border-radius: 8px 8px 0px 0px;
}

.app .buttons {
  text-align: center;
  width: 50%;
  padding: 25px;
  background: #f3f3f3;
  border-radius: 0px 0px 8px 8px;
}

.app .buttons button {
  height: 5em;
  width: 10em;
  font-size: 2em;
}
